## Ignore Visual Studio Code temporary files
##

# General Directories

# Individual files
*.log



# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.env

# Local History for Visual Studio
**/.localhistory/

# Visual Studio History (VSHistory) files
.vshistory/


# VS Code files for those working on multiple tools
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/


